<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Person Database</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <link rel="stylesheet" href="/style.css"> 
</head>

<body ng-app="app">
    <div ng-controller="AppController">
        <div>{{message}}</div>
        <table>
            <thead>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Contact</th>
                <th>Age</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr ng-repeat="x in myData">
                    <td>{{x.firstName}} </td>
                    <td> {{x.lastName}} </td>
                    <td> {{x.mobile}} </td>
                    <td> {{x.age}} </td>
                    <td>
                        <button type="button">U</button>
                        <button type="button" ng-click="onDeleteClick()" value="delete">D</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <form name="personform" id="personform" ng-submit="handleSubmit()">
            <label for="fName">Firstname :</label>
            <input ng-model="fName" id="fName" type="text">
            <br>
            <br>
            <label for="lName">Lastname :</label>
            <input ng-model="lName" id="lName" type="text">
            <br>
            <br>
            <label for="contact">Mobile :</label>
            <input ng-model="contact" id="contact" type="text">
            <br>
            <br>
            <label for="dsfsdfage">Age :</label>
            <input ng-model="age" id="age" type="text">
            <br>
            <br>
            <button type="button" ng-click="onSubmitClick()" value="Submit">Submit</button>


        </form>
    </div>
    <script src="/ang_script.js"></script>
</body>
</html>